<div class="clearfix">
  <div class="chat">
    <div class="message">
      <div class="m-b-0">
        <div *ngIf="myMessage === true; else otherMessage" class="clearfix float-right">
          <div class="message my-message">
            <div class="message-data">{{ message.text }}</div>
          </div>
          <div>
            <span class="message-data-time">{{ sentAt }}</span>
          </div>
        </div>
        <ng-template #otherMessage>
          <div class="clearfix">
            <div class="sender-info">
              <img
                [src]="message.sender.imgUrl"
                alt="Logo"
                width="30"
                height="30"
                class="rounded-image sender-image"
                role="img"
                aria-label="logo"
              />
              {{ getSenderDisplayText() }}
            </div>
            <div class="message-other-wrapper">
              <div class="message other-message">
                {{ message.text }}
                <div class="message-data"></div>
              </div>
            </div>
            <div>
              <span class="message-data-time">{{ sentAt }}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
