<div class="clearfix">
    <div class="chat">
      <div class="message">
        <div class="m-b-0">
          <div *ngIf="myMessage===true; else otherMessage" class="clearfix float-right">
            <div class="message-data">
              <span class="message-data-time">{{message.sentAt}}</span>
            </div>
            <div class="message other-message">
              {{message.text}}
            </div>
          </div>
          <ng-template #otherMessage>
            <div class="clearfix">
              <div class="message-data">
                <span class="message-data-time">{{message.sentAt}}</span>
              </div>
              <div class="message my-message">{{message.text}}
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  